{% load render_bundle from webpack_loader %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>backend</title>
  {% render_bundle 'chunk-vendors' %}
</head>
<body>
<noscript>
  <strong>Просим включить JavaScript: без него интерфейс не работает должным образом.</strong>
</noscript>

<div id="app"></div>
{% render_bundle 'app' %}
</body>
</html>
